name: ci

on:
  push:
    branches-ignore:
      - 'main'
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Use Node.js LTS (Gallium)
        uses: actions/setup-node@v3
        with:
          node-version: 16.15.0

      - name: Install dependencies
        run: yarn install

      - name: Testing with Jest
        run: yarn test
